* {
    font-family: monospace;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    background-color: black;
    color: white;
}

.terminal {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}

#output {
    white-space: pre-wrap;
}

.input-line {
    display: flex;
}

.prompt {
    margin-right: 5px;
    color: white;
}

#command-input {
    background: none;
    border: none;
    color: white;
    outline: none;
    flex: 1;
}
